## Machine Learning for Forecasting: Supervised Learning with Multivariate Time Series
- https://towardsdatascience.com/machine-learning-for-forecasting-supervised-learning-with-multivariate-time-series-b5b5044fe068
- ml기반 시계열예측 2번째 포스트

<div style="text-align: right"> <b>Author : Kwang Myung Yu</b></div>
<div style="text-align: right"> Initial upload: 2023.6.25</div>
<div style="text-align: right"> Last update: 2023.6.25</div>

In [1]:
import re
import sys
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings; warnings.filterwarnings('ignore')
plt.style.use('seaborn-v0_8-whitegrid')
%matplotlib inline
# print(plt.stype.available)

# Options for pandas
pd.options.display.max_columns = 30

- transforming time series from a sequence into a tabular format;
- adding new features based on summary statistics.

In [2]:
def time_delay_embedding(
    series: pd.Series,
    n_lags: int,
    horizon: int
):
    """
    Time delay embedding
    Time series for supervised learning
    :param series: time series as pd.Series
    :param n_lags: number of past values to used as explanatory variables
    :param horizon: how many values to forecast
    :return: pd.DataFrame with reconstructed time series
    """
    assert isinstance(series, pd.Series)
    
    if series.name is None:
        name = 'Series'
    else:
        name = series.name
        
    n_lags_iter = list(range(n_lags, -horizon, -1))
    
    X = [series.shift(i) for i in n_lags_iter]
    X = pd.concat(X, axis = 1).dropna()
    X.columns =[f'{name}(t-{j - 1})'
                 if j > 0 else f'{name}(t+{np.abs(j) + 1})'
                 for j in n_lags_iter]
    
    return X

In [3]:
wine = pd.read_csv("data/wine_sales.csv", parse_dates=['date'])
wine.head()

   Fortified  Drywhite  Sweetwhite   Red   Rose  Sparkling       date
0       2585      1954          85   464  112.0       1686 1980-01-01
1       3368      2302          89   675  118.0       1591 1980-02-01
2       3210      3054         109   703  129.0       2304 1980-03-01
3       3111      2414          95   887   99.0       1712 1980-04-01
4       3756      2226          91  1139  116.0       1471 1980-05-01

In [4]:
wine = wine.set_index("date")
wine.head()

            Fortified  Drywhite  Sweetwhite   Red   Rose  Sparkling
date
1980-01-01       2585      1954          85   464  112.0       1686
1980-02-01       3368      2302          89   675  118.0       1591
1980-03-01       3210      3054         109   703  129.0       2304
1980-04-01       3111      2414          95   887   99.0       1712
1980-05-01       3756      2226          91  1139  116.0       1471

In [5]:
wine_ds = []
for col in wine.columns:
    col_df = time_delay_embedding(wine[col], n_lags = 12, horizon=6)
    wine_ds.append(col_df)

In [6]:
wine_ds

[            Fortified(t-11)  Fortified(t-10)  Fortified(t-9)  Fortified(t-8)  \
 date
 1981-01-01           2585.0           3368.0          3210.0          3111.0
 1981-02-01           3368.0           3210.0          3111.0          3756.0
 1981-03-01           3210.0           3111.0          3756.0          4216.0
 1981-04-01           3111.0           3756.0          4216.0          5225.0
 1981-05-01           3756.0           4216.0          5225.0          4426.0
 ...                     ...              ...             ...             ...
 1994-10-01           1772.0           2526.0          2755.0          1154.0
 1994-11-01           2526.0           2755.0          1154.0          1568.0
 1994-12-01           2755.0           1154.0          1568.0          1965.0
 1995-01-01           1154.0           1568.0          1965.0          2659.0
 1995-02-01           1568.0           1965.0          2659.0          2354.0

             Fortified(t-7)  Fortified(t-6)  Fortified(t-5)  Fortified(t-4)  \
 date
 1981-01-01          3756.0          4216.0          5225.0          4426.0
 1981-02-01          4216.0          5225.0          4426.0          3932.0
 1981-03-01          5225.0          4426.0          3932.0          3816.0
 1981-04-01          4426.0          3932.0          3816.0          3661.0
 1981-05-01          3932.0          3816.0          3661.0          3795.0
 ...                    ...             ...             ...             ...
 1994-10-01          1568.0          1965.0          2659.0          2354.0
 1994-11-01          1965.0          2659.0          2354.0          2592.0
 1994-12-01          2659.0          2354.0          2592.0          2714.0
 1995-01-01          2354.0          2592.0          2714.0          2294.0
 1995-02-01          2592.0          2714.0          2294.0          2416.0

             Fortified(t-3)  Fortified(t-2)  Fortified(t-1)  Fortified(t-0)  \
 date
 1981-01-01          3932.0          3816.0          3661.0          3795.0
 1981-02-01          3816.0          3661.0          3795.0          2285.0
 1981-03-01          3661.0          3795.0          2285.0          2934.0
 1981-04-01          3795.0          2285.0          2934.0          2985.0
 1981-05-01          2285.0          2934.0          2985.0          3646.0
 ...                    ...             ...             ...             ...
 1994-10-01          2592.0          2714.0          2294.0          2416.0
 1994-11-01          2714.0          2294.0          2416.0          2016.0
 1994-12-01          2294.0          2416.0          2016.0          2799.0
 1995-01-01          2416.0          2016.0          2799.0          2467.0
 1995-02-01          2016.0          2799.0          2467.0          1153.0

             Fortified(t+1)  Fortified(t+2)  Fortified(t+3)  Fortified(t+4)  \
 date
 1981-01-01            2285          2934.0          2985.0          3646.0
 1981-02-01            2934          2985.0          3646.0          4198.0
 1981-03-01            2985          3646.0          4198.0          4935.0
 1981-04-01            3646          4198.0          4935.0          5618.0
 1981-05-01            4198          4935.0          5618.0          5454.0
 ...                    ...             ...             ...             ...
 1994-10-01            2016          2799.0          2467.0          1153.0
 1994-11-01            2799          2467.0          1153.0          1482.0
 1994-12-01            2467          1153.0          1482.0          1818.0
 1995-01-01            1153          1482.0          1818.0          2262.0
 1995-02-01            1482          1818.0          2262.0          2612.0

             Fortified(t+5)  Fortified(t+6)
 date
 1981-01-01          4198.0          4935.0
 1981-02-01          4935.0          5618.0
 1981-03-01          5618.0          5454.0
 1981-04-01          5454.0          3624.0
 1981-05-01          3624.0          2898.0
 ...                    ...             ...
 1994-10-01          1482.0          1818.0
 1994-11-01          1818.0          2262.0
 1994-12-01          2262.0          2612.0
 1995-01-01          2612.0          2967.0
 1995-02-01          2967.0          3179.0

 [170 rows x 18 columns],
             Drywhite(t-11)  Drywhite(t-10)  Drywhite(t-9)  Drywhite(t-8)  \
 date
 1981-01-01          1954.0          2302.0         3054.0         2414.0
 1981-02-01          2302.0          3054.0         2414.0         2226.0
 1981-03-01          3054.0          2414.0         2226.0         2725.0
 1981-04-01          2414.0          2226.0         2725.0         2589.0
 1981-05-01          2226.0          2725.0         2589.0         3470.0
 ...                    ...             ...            ...            ...
 1994-10-01          3686.0          4358.0         5587.0         2265.0
 1994-11-01          4358.0          5587.0         2265.0         3685.0
 1994-12-01          5587.0          2265.0         3685.0         3754.0
 1995-01-01          2265.0          3685.0         3754.0         3708.0
 1995-02-01          3685.0          3754.0         3708.0         3210.0

             Drywhite(t-7)  Drywhite(t-6)  Drywhite(t-5)  Drywhite(t-4)  \
 date
 1981-01-01         2226.0         2725.0         2589.0         3470.0
 1981-02-01         2725.0         2589.0         3470.0         2400.0
 1981-03-01         2589.0         3470.0         2400.0         3180.0
 1981-04-01         3470.0         2400.0         3180.0         4009.0
 1981-05-01         2400.0         3180.0         4009.0         3924.0
 ...                   ...            ...            ...            ...
 1994-10-01         3685.0         3754.0         3708.0         3210.0
 1994-11-01         3754.0         3708.0         3210.0         3517.0
 1994-12-01         3708.0         3210.0         3517.0         3905.0
 1995-01-01         3210.0         3517.0         3905.0         3670.0
 1995-02-01         3517.0         3905.0         3670.0         4221.0

             Drywhite(t-3)  Drywhite(t-2)  Drywhite(t-1)  Drywhite(t-0)  \
 date
 1981-01-01         2400.0         3180.0         4009.0         3924.0
 1981-02-01         3180.0         4009.0         3924.0         2072.0
 1981-03-01         4009.0         3924.0         2072.0         2434.0
 1981-04-01         3924.0         2072.0         2434.0         2956.0
 1981-05-01         2072.0         2434.0         2956.0         2828.0
 ...                   ...            ...            ...            ...
 1994-10-01         3517.0         3905.0         3670.0         4221.0
 1994-11-01         3905.0         3670.0         4221.0         4404.0
 1994-12-01         3670.0         4221.0         4404.0         5086.0
 1995-01-01         4221.0         4404.0         5086.0         5725.0
 1995-02-01         4404.0         5086.0         5725.0         2367.0

             Drywhite(t+1)  Drywhite(t+2)  Drywhite(t+3)  Drywhite(t+4)  \
 date
 1981-01-01           2072         2434.0         2956.0         2828.0
 1981-02-01           2434         2956.0         2828.0         2687.0
 1981-03-01           2956         2828.0         2687.0         2629.0
 1981-04-01           2828         2687.0         2629.0         3150.0
 1981-05-01           2687         2629.0         3150.0         4119.0
 ...                   ...            ...            ...            ...
 1994-10-01           4404         5086.0         5725.0         2367.0
 1994-11-01           5086         5725.0         2367.0         3819.0
 1994-12-01           5725         2367.0         3819.0         4067.0
 1995-01-01           2367         3819.0         4067.0         4022.0
 1995-02-01           3819         4067.0         4022.0         3937.0

             Drywhite(t+5)  Drywhite(t+6)
 date
 1981-01-01         2687.0         2629.0
 1981-02-01         2629.0         3150.0
 1981-03-01         3150.0         4119.0
 1981-04-01         4119.0         3030.0
 1981-05-01         3030.0         3055.0
 ...                   ...            ...
 1994-10-01         3819.0         4067.0
 1994-11-01         4067.0         4022.0
 1994-12-01         4022.0         3937.0
 1995-01-01         3937.0         4365.0
 1995-02-01         4365.0         4290.0

 [170 rows x 18 columns],
             Sweetwhite(t-11)  Sweetwhite(t-10)  Sweetwhite(t-9)  \
 date
 1981-01-01              85.0              89.0            109.0
 1981-02-01              89.0             109.0             95.0
 1981-03-01             109.0              95.0             91.0
 1981-04-01              95.0              91.0             95.0
 1981-05-01              91.0              95.0             96.0
 ...                      ...               ...              ...
 1994-10-01             254.0             336.0            431.0
 1994-11-01             336.0             431.0            150.0
 1994-12-01             431.0             150.0            280.0
 1995-01-01             150.0             280.0            187.0
 1995-02-01             280.0             187.0            279.0

             Sweetwhite(t-8)  Sweetwhite(t-7)  Sweetwhite(t-6)  \
 date
 1981-01-01             95.0             91.0             95.0
 1981-02-01             91.0             95.0             96.0
 1981-03-01             95.0             96.0            128.0
 1981-04-01             96.0            128.0            124.0
 1981-05-01            128.0            124.0            111.0
 ...                     ...              ...              ...
 1994-10-01            150.0            280.0            187.0
 1994-11-01            280.0            187.0            279.0
 1994-12-01            187.0            279.0            193.0
 1995-01-01            279.0            193.0            227.0
 1995-02-01            193.0            227.0            225.0

             Sweetwhite(t-5)  Sweetwhite(t-4)  Sweetwhite(t-3)  \
 date
 1981-01-01             96.0            128.0            124.0
 1981-02-01            128.0            124.0            111.0
 1981-03-01            124.0            111.0            178.0
 1981-04-01            111.0            178.0            140.0
 1981-05-01            178.0            140.0            150.0
 ...                     ...              ...              ...
 1994-10-01            279.0            193.0            227.0
 1994-11-01            193.0            227.0            225.0
 1994-12-01            227.0            225.0            205.0
 1995-01-01            225.0            205.0            259.0
 1995-02-01            205.0            259.0            254.0

             Sweetwhite(t-2)  Sweetwhite(t-1)  Sweetwhite(t-0)  \
 date
 1981-01-01            111.0            178.0            140.0
 1981-02-01            178.0            140.0            150.0
 1981-03-01            140.0            150.0            132.0
 1981-04-01            150.0            132.0            155.0
 1981-05-01            132.0            155.0            132.0
 ...                     ...              ...              ...
 1994-10-01            225.0            205.0            259.0
 1994-11-01            205.0            259.0            254.0
 1994-12-01            259.0            254.0            275.0
 1995-01-01            254.0            275.0            394.0
 1995-02-01            275.0            394.0            159.0

             Sweetwhite(t+1)  Sweetwhite(t+2)  Sweetwhite(t+3)  \
 date
 1981-01-01              150            132.0            155.0
 1981-02-01              132            155.0            132.0
 1981-03-01              155            132.0             91.0
 1981-04-01              132             91.0             94.0
 1981-05-01               91             94.0            109.0
 ...                     ...              ...              ...
 1994-10-01              254            275.0            394.0
 1994-11-01              275            394.0            159.0
 1994-12-01              394            159.0            230.0
 1995-01-01              159            230.0            188.0
 1995-02-01              230            188.0            195.0

             Sweetwhite(t+4)  Sweetwhite(t+5)  Sweetwhite(t+6)
 date
 1981-01-01            132.0             91.0             94.0
 1981-02-01             91.0             94.0            109.0
 1981-03-01             94.0            109.0            155.0
 1981-04-01            109.0            155.0            123.0
 1981-05-01            155.0            123.0            130.0
 ...                     ...              ...              ...
 1994-10-01            159.0            230.0            188.0
 1994-11-01            230.0            188.0            195.0
 1994-12-01            188.0            195.0            189.0
 1995-01-01            195.0            189.0            220.0
 1995-02-01            189.0            220.0            274.0

 [170 rows x 18 columns],
             Red(t-11)  Red(t-10)  Red(t-9)  Red(t-8)  Red(t-7)  Red(t-6)  \
 date
 1981-01-01      464.0      675.0     703.0     887.0    1139.0    1077.0
 1981-02-01      675.0      703.0     887.0    1139.0    1077.0    1318.0
 1981-03-01      703.0      887.0    1139.0    1077.0    1318.0    1260.0
 1981-04-01      887.0     1139.0    1077.0    1318.0    1260.0    1120.0
 1981-05-01     1139.0     1077.0    1318.0    1260.0    1120.0     963.0
 ...               ...        ...       ...       ...       ...       ...
 1994-10-01     2096.0     2374.0    2535.0    1041.0    1728.0    2201.0
 1994-11-01     2374.0     2535.0    1041.0    1728.0    2201.0    2455.0
 1994-12-01     2535.0     1041.0    1728.0    2201.0    2455.0    2204.0
 1995-01-01     1041.0     1728.0    2201.0    2455.0    2204.0    2660.0
 1995-02-01     1728.0     2201.0    2455.0    2204.0    2660.0    3670.0

             Red(t-5)  Red(t-4)  Red(t-3)  Red(t-2)  Red(t-1)  Red(t-0)  \
 date
 1981-01-01    1318.0    1260.0    1120.0     963.0     996.0     960.0
 1981-02-01    1260.0    1120.0     963.0     996.0     960.0     530.0
 1981-03-01    1120.0     963.0     996.0     960.0     530.0     883.0
 1981-04-01     963.0     996.0     960.0     530.0     883.0     894.0
 1981-05-01     996.0     960.0     530.0     883.0     894.0    1045.0
 ...              ...       ...       ...       ...       ...       ...
 1994-10-01    2455.0    2204.0    2660.0    3670.0    2665.0    2639.0
 1994-11-01    2204.0    2660.0    3670.0    2665.0    2639.0    2226.0
 1994-12-01    2660.0    3670.0    2665.0    2639.0    2226.0    2586.0
 1995-01-01    3670.0    2665.0    2639.0    2226.0    2586.0    2684.0
 1995-02-01    2665.0    2639.0    2226.0    2586.0    2684.0    1185.0

             Red(t+1)  Red(t+2)  Red(t+3)  Red(t+4)  Red(t+5)  Red(t+6)
 date
 1981-01-01       530     883.0     894.0    1045.0    1199.0    1287.0
 1981-02-01       883     894.0    1045.0    1199.0    1287.0    1565.0
 1981-03-01       894    1045.0    1199.0    1287.0    1565.0    1577.0
 1981-04-01      1045    1199.0    1287.0    1565.0    1577.0    1076.0
 1981-05-01      1199    1287.0    1565.0    1577.0    1076.0     918.0
 ...              ...       ...       ...       ...       ...       ...
 1994-10-01      2226    2586.0    2684.0    1185.0    1749.0    2459.0
 1994-11-01      2586    2684.0    1185.0    1749.0    2459.0    2618.0
 1994-12-01      2684    1185.0    1749.0    2459.0    2618.0    2585.0
 1995-01-01      1185    1749.0    2459.0    2618.0    2585.0    3310.0
 1995-02-01      1749    2459.0    2618.0    2585.0    3310.0    3923.0

 [170 rows x 18 columns],
             Rose(t-11)  Rose(t-10)  Rose(t-9)  Rose(t-8)  Rose(t-7)  \
 date
 1981-01-01       112.0       118.0      129.0       99.0      116.0
 1981-02-01       118.0       129.0       99.0      116.0      168.0
 1981-03-01       129.0        99.0      116.0      168.0      118.0
 1981-04-01        99.0       116.0      168.0      118.0      129.0
 1981-05-01       116.0       168.0      118.0      129.0      205.0
 ...                ...         ...        ...        ...        ...
 1993-09-01        46.0        51.0       58.0       91.0       33.0
 1993-10-01        51.0        58.0       91.0       33.0       40.0
 1993-11-01        58.0        91.0       33.0       40.0       46.0
 1993-12-01        91.0        33.0       40.0       46.0       45.0
 1994-01-01        33.0        40.0       46.0       45.0       41.0

             Rose(t-6)  Rose(t-5)  Rose(t-4)  Rose(t-3)  Rose(t-2)  Rose(t-1)  \
 date
 1981-01-01      168.0      118.0      129.0      205.0      147.0      150.0
 1981-02-01      118.0      129.0      205.0      147.0      150.0      267.0
 1981-03-01      129.0      205.0      147.0      150.0      267.0      126.0
 1981-04-01      205.0      147.0      150.0      267.0      126.0      129.0
 1981-05-01      147.0      150.0      267.0      126.0      129.0      124.0
 ...               ...        ...        ...        ...        ...        ...
 1993-09-01       40.0       46.0       45.0       41.0       55.0       57.0
 1993-10-01       46.0       45.0       41.0       55.0       57.0       54.0
 1993-11-01       45.0       41.0       55.0       57.0       54.0       46.0
 1993-12-01       41.0       55.0       57.0       54.0       46.0       52.0
 1994-01-01       55.0       57.0       54.0       46.0       52.0       48.0

             Rose(t-0)  Rose(t+1)  Rose(t+2)  Rose(t+3)  Rose(t+4)  Rose(t+5)  \
 date
 1981-01-01      267.0      126.0      129.0      124.0       97.0      102.0
 1981-02-01      126.0      129.0      124.0       97.0      102.0      127.0
 1981-03-01      129.0      124.0       97.0      102.0      127.0      222.0
 1981-04-01      124.0       97.0      102.0      127.0      222.0      214.0
 1981-05-01       97.0      102.0      127.0      222.0      214.0      118.0
 ...               ...        ...        ...        ...        ...        ...
 1993-09-01       54.0       46.0       52.0       48.0       77.0       30.0
 1993-10-01       46.0       52.0       48.0       77.0       30.0       35.0
 1993-11-01       52.0       48.0       77.0       30.0       35.0       42.0
 1993-12-01       48.0       77.0       30.0       35.0       42.0       48.0
 1994-01-01       77.0       30.0       35.0       42.0       48.0       44.0

             Rose(t+6)
 date
 1981-01-01      127.0
 1981-02-01      222.0
 1981-03-01      214.0
 1981-04-01      118.0
 1981-05-01      141.0
 ...               ...
 1993-09-01       35.0
 1993-10-01       42.0
 1993-11-01       48.0
 1993-12-01       44.0
 1994-01-01       45.0

 [157 rows x 18 columns],
             Sparkling(t-11)  Sparkling(t-10)  Sparkling(t-9)  Sparkling(t-8)  \
 date
 1981-01-01           1686.0           1591.0          2304.0          1712.0
 1981-02-01           1591.0           2304.0          1712.0          1471.0
 1981-03-01           2304.0           1712.0          1471.0          1377.0
 1981-04-01           1712.0           1471.0          1377.0          1966.0
 1981-05-01           1471.0           1377.0          1966.0          2453.0
 ...                     ...              ...             ...             ...
 1994-10-01           3339.0           4227.0          6410.0          1197.0
 1994-11-01           4227.0           6410.0          1197.0          1968.0
 1994-12-01           6410.0           1197.0          1968.0          1720.0
 1995-01-01           1197.0           1968.0          1720.0          1725.0
 1995-02-01           1968.0           1720.0          1725.0          1674.0

             Sparkling(t-7)  Sparkling(t-6)  Sparkling(t-5)  Sparkling(t-4)  \
 date
 1981-01-01          1471.0          1377.0          1966.0          2453.0
 1981-02-01          1377.0          1966.0          2453.0          1984.0
 1981-03-01          1966.0          2453.0          1984.0          2596.0

In [7]:
wine_df = pd.concat(wine_ds, axis=1).dropna()
wine_df.head()

,Fortified(t-11),Fortified(t-10),Fortified(t-9),Fortified(t-8),Fortified(t-7),Fortified(t-6),Fortified(t-5),Fortified(t-4),Fortified(t-3),Fortified(t-2),Fortified(t-1),Fortified(t-0),Fortified(t+1),Fortified(t+2),Fortified(t+3),...,Sparkling(t-8),Sparkling(t-7),Sparkling(t-6),Sparkling(t-5),Sparkling(t-4),Sparkling(t-3),Sparkling(t-2),Sparkling(t-1),Sparkling(t-0),Sparkling(t+1),Sparkling(t+2),Sparkling(t+3),Sparkling(t+4),Sparkling(t+5),Sparkling(t+6)
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1981-01-01,2585.0,3368.0,3210.0,3111.0,3756.0,4216.0,5225.0,4426.0,3932.0,3816.0,3661.0,3795.0,2285,2934.0,2985.0,...,1712.0,1471.0,1377.0,1966.0,2453.0,1984.0,2596.0,4087.0,5179.0,1530,1523.0,1633.0,1976.0,1170.0,1480.0
1981-02-01,3368.0,3210.0,3111.0,3756.0,4216.0,5225.0,4426.0,3932.0,3816.0,3661.0,3795.0,2285.0,2934,2985.0,3646.0,...,1471.0,1377.0,1966.0,2453.0,1984.0,2596.0,4087.0,5179.0,1530.0,1523,1633.0,1976.0,1170.0,1480.0,1781.0
1981-03-01,3210.0,3111.0,3756.0,4216.0,5225.0,4426.0,3932.0,3816.0,3661.0,3795.0,2285.0,2934.0,2985,3646.0,4198.0,...,1377.0,1966.0,2453.0,1984.0,2596.0,4087.0,5179.0,1530.0,1523.0,1633,1976.0,1170.0,1480.0,1781.0,2472.0
1981-04-01,3111.0,3756.0,4216.0,5225.0,4426.0,3932.0,3816.0,3661.0,3795.0,2285.0,2934.0,2985.0,3646,4198.0,4935.0,...,1966.0,2453.0,1984.0,2596.0,4087.0,5179.0,1530.0,1523.0,1633.0,1976,1170.0,1480.0,1781.0,2472.0,1981.0
1981-05-01,3756.0,4216.0,5225.0,4426.0,3932.0,3816.0,3661.0,3795.0,2285.0,2934.0,2985.0,3646.0,4198,4935.0,5618.0,...,2453.0,1984.0,2596.0,4087.0,5179.0,1530.0,1523.0,1633.0,1976.0,1170,1480.0,1781.0,2472.0,1981.0,2273.0

In [8]:
# defining target (Y) and explanatory variables (X)
predictor_variables = wine_df.columns.str.contains('\(t\-')
target_variables = wine_df.columns.str.contains('Sparkling\(t\+')

X = wine_df.iloc[:, predictor_variables]
y = wine_df.iloc[:, target_variables]

모델 구축하기

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error as mae
from sklearn.ensemble import RandomForestRegressor

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=False)

model = RandomForestRegressor()
model.fit(X_train, y_train)
preds = model.predict(X_test)

print(mae(y_test, preds))

305.24500000000006

각 변수의 12개의 지연을 설명 변수로 사용했습니다. 이는 time_delay_embedding 함수의 매개변수 n_lags에 정의되어 있습니다.

이 파라미터의 값은 어떻게 설정해야 할까요?

얼마나 많은 값을 포함해야 하는지 미리 말하기는 어렵습니다. 이는 입력 데이터와 특정 변수에 따라 달라집니다.

이에 접근하는 간단한 방법은 기능 선택을 사용하는 것입니다. 먼저 상당한 양의 값으로 시작합니다. 그런 다음 중요도 점수 또는 예측 성과에 따라 이 수를 줄입니다.

다음은 이 프로세스의 간소화된 버전입니다. 무작위 포레스트의 중요도 점수에 따라 상위 10개 피처를 선택합니다. 그런 다음 훈련 및 테스트 주기를 반복합니다.

In [11]:
fi = pd.Series(dict(zip(X_train.columns, model.feature_importances_)))
fi

Fortified(t-11)    0.004212
Fortified(t-10)    0.009965
Fortified(t-9)     0.008443
Fortified(t-8)     0.012716
Fortified(t-7)     0.022947
                     ...
Sparkling(t-4)     0.005109
Sparkling(t-3)     0.002783
Sparkling(t-2)     0.008126
Sparkling(t-1)     0.005132
Sparkling(t-0)     0.002413
Length: 72, dtype: float64

In [12]:
top_10_features = fi.sort_values(ascending=False)[:10]
top_10_features_nm = top_10_features.index
top_10_features_nm

Index(['Sparkling(t-11)', 'Sparkling(t-7)', 'Sparkling(t-9)',
       'Sparkling(t-10)', 'Sparkling(t-8)', 'Sparkling(t-6)', 'Sparkling(t-5)',
       'Fortified(t-7)', 'Drywhite(t-10)', 'Drywhite(t-9)'],
      dtype='object')

In [13]:
X_train_top = X_train[top_10_features_nm]
X_test_top = X_test[top_10_features_nm]

# re-fitting the model
model_top_features = RandomForestRegressor()
model_top_features.fit(X_train_top, y_train)

# getting forecasts for the test set
preds_topf = model_top_features.predict(X_test_top)

# computing MAE error
print(mae(y_test, preds_topf))

261.8669791666666

- 성능이 개선되었다.